*.eps
*.go
*.log
*.mo
*.pdf
*.png
*.tar.xz
*.tmp
*~
.#*
\#*\#
,*
/aclocal.m4
/autom4te.cache
/build-aux
/config.status
/configure
/doc/*.1
/doc/.dirstamp
/doc/contributing.*.texi
/doc/gloa*.aux
/doc/gloa*.cp
/doc/gloa*.cps
/doc/gloa*.fn
/doc/gloa*.fns
/doc/gloa*.html
/doc/gloa*.info
/doc/gloa*.info-[0-9]
/doc/gloa*.ky
/doc/gloa*.pg
/doc/gloa*.toc
/doc/gloa*.t2p
/doc/gloa*.tp
/doc/gloa*.vr
/doc/gloa*.vrs
/doc/gloa.*.texi
/doc/gloa-cookbook.*.texi
/doc/gloa.aux
/doc/gloa.cp
/doc/gloa.cps
/doc/gloa.fn
/doc/gloa.fns
/doc/gloa.html
/doc/gloa.info
/doc/gloa.info-[0-9]
/doc/gloa.ky
/doc/gloa.pg
/doc/gloa.toc
/doc/gloa.t2p
/doc/gloa.tp
/doc/gloa.vr
/doc/gloa.vrs
/doc/stamp-vti
/doc/version.texi
/doc/version-*.texi
/guile.am
/m4/*
/pre-inst-env
/release-*
GPATH
GRTAGS
GTAGS
Makefile
Makefile.in
config.cache
stamp-h[0-9]
.am[0-9]*/
.dirstamp
.deps
tmp
/.tarball-version
/.version
/guile
.DS_Store
/scripts/gloa
*.trs
*.log
*.db